# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.db-shm
*.db-wal

# Log files
*.log

# Environments
.venv/
env/
venv/
ENV/

# IDE / OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
